@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

%underline {
    -webkit-text-decoration: var(--text-color-hover) solid underline;
    text-decoration: var(--text-color-hover) solid underline;
    -webkit-text-underline-position: under;
    text-underline-position: under;
}

.home {
    margin-top: 26px;
}

// Hero
.hero {
    @extend %flexItemCenter;

    &__content {
        width: 59%;
    }

    &__sub-title {
        line-height: 1.62;
    }

    &__title {
        margin-top: 10px;
        font-weight: 500;
        font-size: 6.4rem;
        line-height: 1.15;
        text-transform: capitalize;
    }

    &__desc {
        width: 79%;
        margin-top: 20px;
        line-height: 1.62;
    }

    &__link {
        @extend %underline;

        display: block;
        margin-top: 40px;
        color: var(--text-color-hover);
    }

    &__images {
        &-wrap {
            position: relative;
            flex: 1;
        }

        &-large {
            margin-left: 30px;
        }

        &-small {
            position: absolute;
            top: 65px;
            right: 0px;

            &:nth-child(2) {
                top: 175px;
                right: -20px;
            }

            &:nth-child(3) {
                top: 287px;
                right: 0px;
            }
        }
    }

    &__price {
        --height: 54px;

        width: 136px;
        height: var(--height);
        position: absolute;
        left: 0;
        bottom: 70px;
        background: var(--text-color-hover);

        font-weight: 500;
        font-size: 2.4rem;
        line-height: var(--height);
        text-align: center;
    }
}

// Data
.data {
    height: 194px;
    margin-top: 70px;
    background-image: url(../../assets/img/data-img/data1.png);
    background-size: cover;
    background-repeat: no-repeat;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 127px;
    }

    &__item {
        @extend %flexItemCenter;

        position: relative;
        top: 60px;
        gap: 19px;
        z-index: 1;
    }

    &__number {
        font-weight: 500;
        font-size: 6.4rem;
        line-height: 1.15;
    }

    &__text {
        width: 148px;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 1.42;
    }
}

// Dish
.dish {
    position: relative;
    margin-top: 139px;
    padding: 48px 0;

    &__flower {
        position: absolute;
        top: 44px;
        left: 203px;
        rotate: 180deg;
        z-index: -1;
    }

    &__content {
        @extend %flexItemCenter;

        justify-content: center;
        flex-direction: column;
        margin-bottom: 60px;
    }

    &__title {
        font-weight: 500;
        font-size: 6.4rem;
        line-height: 1.15;
        text-transform: capitalize;

        &--large {
            font-size: 9.8rem;
        }
    }

    &__desc {
        width: 601px;
        margin-top: 20px;
        text-align: center;
        line-height: 1.62;
    }

    &-card {
        &__img {
            display: block;
            height: 300px;
            object-fit: cover;
        }

        &__wrap {
            @extend %flexItemCenter;

            justify-content: space-between;
            margin-top: 16px;
        }

        &__name,
        &__price {
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 1.42;
        }

        &__desc {
            margin-top: 6px;
            line-height: 1.62;
        }

        &__oder {
            @extend %flexItemCenter;
            @extend %underline;

            justify-content: space-between;
            margin-top: 16px;
            line-height: 1.62;
        }

        &__stars {
            display: flex;
            gap: 6px;
        }
    }

    &__all {
        @extend %flexItemCenter;
        @extend %underline;

        justify-content: center;
        gap: 13px;
        margin-top: 30px;

        color: var(--text-color-hover);
    }
}

// Time
.time {
    display: flex;
    margin-top: 48px;
    padding: 54px 0;

    &-left {
        width: 50%;
        height: 360px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-image: url(../../assets/img/time-img/time1.png);
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(
                to right,
                rgba(251, 248, 252, 1),
                rgba(251, 248, 252, 0.09)
            )
            1;

        &__title {
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 1.42;
        }

        &__wrap {
            margin-top: 10px;
            text-align: center;
            line-height: 1.62;
        }
    }

    &-list {
        @extend %flexItemCenter;

        flex: 1;
        flex-direction: column;
        justify-content: center;
        color: rgba(17, 17, 20, 1);
        background: var(--text-color-hover);

        &__title {
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 1.42;
            color: rgba(17, 17, 20, 1);
        }

        &__item {
            @extend %flexItemCenter;
            gap: 150px;
            margin-top: 10px;
        }

        &__day {
            width: 61px;
        }

        &__time {
            text-align: end;
            width: 113px;
        }
    }
}

// Menu
.menu {
    margin-top: 26px;
    padding: 70px 0;

    &__content {
        @extend %flexItemCenter;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &__sub-title {
        line-height: 1.62;
    }

    &__title {
        margin-top: 10px;
        font-size: 6.4rem;
        font-weight: 500;
        line-height: 1.15;
    }

    &__desc {
        width: 601px;
        margin-top: 20px;
        line-height: 1.62;
    }

    &-container {
        margin-top: 60px;
    }
}

.menu-tab {
    &__list {
        display: flex;
        justify-content: center;
        gap: 60px;
        margin-bottom: 30px;
    }

    &__item {
        font-family: "Libre Bodoni", sans-serif;
        font-weight: 500;
        font-size: 3rem;
        line-height: 1.33;
        cursor: pointer;

        &--active {
            color: var(--text-color-hover);
            cursor: default;
        }
    }

    &__content {
        margin-top: 30px;
        display: none;

        &--active {
            display: block;
        }
    }
}

.menu-wrap {
    @extend %flexItemCenter;
    justify-content: space-between;

    &__left {
        @extend %flexItemCenter;
        gap: 20px;
    }

    &__img {
        width: 76px;
        height: 76px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__name,
    &__price {
        font-weight: 500;
        font-size: 3rem;
        line-height: 1.33;
    }

    &__name {
        width: 60%;
    }
}

// Service
.service {
    margin-top: 19px;
    padding: 61px 0;

    &__content {
        @extend %flexItemCenter;
        flex-direction: column;
        text-align: center;
    }

    &__title {
        font-size: 6.4rem;
        font-weight: 500;
        line-height: 1.15;
        text-transform: capitalize;
    }

    &__desc {
        width: 625px;
        line-height: 1.62;
    }

    &__wrap {
        display: flex;
        gap: 30px;
        margin-top: 60px;
    }

    &__images {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__image {
        &--small {
            width: 370px;
            height: 285px;
            object-fit: cover;
            border: 1px solid #fff;
        }

        &--large {
            width: 370px;
            height: 600px;
            object-fit: cover;
            border: 1px solid #fff;
        }
    }
}

// Booking
.booking {
    position: relative;
    display: flex;
    margin-top: 105px;

    &__wow {
        position: absolute;
        top: -70px;
        right: -70px;
    }

    &-left {
        width: 50%;
        height: 394px;
        padding: 40px;
        background: var(--text-color-hover);
        color: #111114;

        &__title {
            color: #111114;
            font-size: 4rem;
            font-weight: 500;
            line-height: 1.25;
            text-transform: capitalize;
        }

        &__btn {
            --height: 56px;

            width: 311px;
            height: var(--height);
            background: #111114;
            margin-top: 74px;

            color: #fff;
            font-size: 1.6rem;
            text-align: center;
            line-height: var(--height);
            border-radius: 12px;
        }
    }

    &-right {
        width: 50%;

        &__img {
            height: 394px;
            object-fit: cover;
            background: linear-gradient(
                to left,
                rgba(251, 248, 252, 1),
                rgba(251, 248, 252, 0.09)
            );
            padding: 1px;
        }
    }
}

.booking-containers {
    @extend %flexItemCenter;
    gap: 99px;
    margin-top: 40px;
}

.booking-container {
    &__title {
        color: #111114;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.41;
        text-transform: capitalize;
    }

    &__wrap {
        @extend %flexItemCenter;
        gap: 3px;
        margin-top: 10px;
    }

    &__date {
        font-family: "Libre Bodoni";
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.25;
    }

    &__set {
        height: 35px;
        @extend %flexItemCenter;
        justify-content: flex-start;
        flex-direction: column;
        gap: 5px;
    }

    &__text {
        font-size: 1.4rem;
        cursor: pointer;
    }

    &__icon {
        display: block;
        cursor: pointer;
    }
}
