@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

// Slider
.slider {
    margin-top: 150px;
    background: var(--text-color-hover);

    @include abstracts.screen(lg) {
        margin-top: 70px;
    }

    &-wraps {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
    }

    &-wrap {
        @extend %flexItemCenter;
        gap: 18px;

        @include abstracts.screen(xl) {
            gap: 9px;
        }

        &__img {
            width: 56px;

            @include abstracts.screen(md) {
                width: 44px;
            }
        }

        &__text {
            color: #111114;
            font-size: 3.8rem;
            font-weight: 500;

            @include abstracts.screen(xl) {
                font-size: 3rem;
            }

            @include abstracts.screen(lg) {
                font-size: 2.4rem;
            }
        }
    }
}
