<div class="container">
    <div class="footer__inner">
        <div class="footer__left">
            <a href="/" class="footer__logo">
                <img
                    src="./assets/img/logo.svg"
                    alt=""
                    class="footer__logo-img"
                />
                <h2 class="footer__logo-text">WowWraps</h2>
            </a>

            <p class="footer__text d-sm-none">
                Download the WowWraps app today.
            </p>
            <div class="footer__download d-sm-none">
                <a href="#!">
                    <img src="../assets/img/download-App.svg" alt="" />
                </a>
                <a href="#!">
                    <img src="../assets/img/download-An.svg" alt="" />
                </a>
            </div>
        </div>
        <div class="footer__wrap">
            <!-- Footer Item 1 -->
            <div>
                <p class="footer__title">Usefull Link</p>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Home</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">About Us</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Services</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Booking</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Menu</a>
                    </li>
                </ul>
            </div>
            <!-- Footer Item 2 -->
            <div>
                <p class="footer__title">Contact Info</p>
                <ul class="footer__list" style="width: 197px">
                    <li>
                        <a href="#!" class="footer__link"
                            >Nguyen Dinh Chieu St, Da Nang, Viet Nam</a
                        >
                    </li>
                    <li>
                        <a href="#!" class="footer__link">
                            trunghoang.240500@gmail.com
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">0823-240-040</a>
                    </li>
                </ul>
            </div>
            <!-- Footer Item 3 -->
            <div class="footer__item">
                <p class="footer__title">Follow us</p>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Facebook</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Instagram</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Linkedin</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Twitter</a>
                    </li>
                </ul>
            </div>
            <!-- Footer Item 4 -->
            <div class="footer__item">
                <p class="footer__title">Legal</p>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link"
                            >Website by uihut.com</a
                        >
                    </li>
                    <li>
                        <a href="#!" class="footer__link"
                            >©2022. All Rights Reserved</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
