<div class="container">
    <div class="header__inner">
        <nav class="navbar">
            <ul class="navbar__list">
                <li>
                    <a href="#" class="navbar__link">Home</a>
                </li>
                <li>
                    <a href="#" class="navbar__link">Menu</a>
                </li>
                <li>
                    <a href="#" class="navbar__link">Blog</a>
                </li>
                <li>
                    <a href="#" class="navbar__link">Pages</a>
                </li>
                <li>
                    <a href="#" class="navbar__link">Contact</a>
                </li>
            </ul>
        </nav>
        <img src="./assets/img/logo.svg" alt="" class="header__logo" />
        <div class="header-right">
            <p class="header-right__times">11:24 we’re open</p>
            <a href="#!" class="header-right__link">Table Reservation</a>
        </div>
    </div>
</div>
