<div class="container">
    <div class="header__inner">
        <!-- More -->
        <button class="navbar__more d-none d-md-block">
            <img
                src="./assets/icons/more.svg"
                alt=""
                class="navbar__more--img"
            />
        </button>

        <!-- Navbar -->
        <nav id="navbar" class="navbar d-md-none">
            <ul class="navbar__list">
                <li>
                    <a href="#" class="navbar__link">Home</a>
                </li>
                <li>
                    <a href="#" class="navbar__link">Menu</a>
                </li>
                <li>
                    <a href="#" class="navbar__link">Blog</a>
                </li>
                <li>
                    <a href="#" class="navbar__link">Pages</a>
                </li>
                <li>
                    <a href="#" class="navbar__link">Contact</a>
                </li>
            </ul>
        </nav>
        <!-- <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div> -->

        <!-- Logo -->
        <a href="/">
            <img src="./assets/img/logo.svg" alt="" class="header__logo" />
        </a>

        <div class="header-right">
            <p class="header-right__times d-lg-none">11:24 we’re open</p>
            <a href="#!" class="header-right__link">Table Reservation</a>
        </div>
    </div>
</div>
